<h1 class="cover-heading">About</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <%# <img src="https://www.allthingswild.co.uk/assets/uploads/2014/12/image01099.jpeg" alt="donkey!" width="300"> %>
    <%= image_tag "donkey.jpeg", width: 300, alt: "donkey!" %>
  </div>
  <div class="col-md-8">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis dolor in ultrices vestibulum. Donec condimentum est a orci blandit, sit amet lobortis risus molestie. Nulla aliquet est eget purus suscipit, a pellentesque dolor posuere. Sed non justo non mauris ultrices interdum eget quis turpis. In id est eu neque vulputate ultrices quis nec risus. Etiam pellentesque, quam sit amet mattis dignissim, sapien erat blandit sem, quis lacinia nisl nibh sed velit. Pellentesque pharetra volutpat congue.</p>
    <p class="lead">Morbi sapien ipsum, sagittis eget laoreet in, egestas ac elit. In viverra scelerisque aliquam. Vivamus est ligula, semper blandit enim convallis, blandit ornare augue. Ut pulvinar lectus eget nibh blandit tempus. Quisque dignissim ante nec eleifend laoreet. Sed eu hendrerit nisi, id mollis turpis. Mauris in tempor neque. Curabitur eget turpis tortor. Aliquam erat volutpat. Proin maximus metus augue, sit amet commodo libero blandit et. Maecenas dapibus luctus molestie. Suspendisse dapibus justo massa.</p>
  </div>
</div>
