<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>
  <%= number_to_phone "1234567890" %>
</p>
<p>
  <%= number_to_currency "66600" %>
</p>
<p>
  <%= number_to_percentage "66.6" %>
</p>
<p>
  <%= number_with_delimiter "1234567890.654" %>
</p>
