<h1>Contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>
  <%= number_to_phone "1234567890" %>
</p>
<p>
  <%= number_to_currency "66600" %>
</p>
<p>
  <%= number_to_percentage "66.6" %>
</p>
<p>
  <%= number_with_delimiter "1234567890.654" %>
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.7545095406745!2d23.58627271579953!3d46.76973515340292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e9d3ee6546d%3A0xcc3cf6e2a7491e4e!2sCasa%20Schleunig%2C%20Pia%C8%9Ba%20Unirii%2015-17%2C%20Cluj-Napoca%20400000!5e0!3m2!1sen!2sro!4v1630934076312!5m2!1sen!2sro" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
